<app-listado-generico [listado]="minutarios">
    <ng-container vacio>
        <div>
            Mensaje personalizado para contenido<b>vacio</b>
        </div>
    </ng-container>
    <ng-container contenido>
        <table mat-table [dataSource]="minutarios" class="mat-elevation-z8 ">
            <ng-container matColumnDef="consecutivo">
                <th mat-header-cell *matHeaderCellDef> Consecutivo</th>
                <td class="detalle" mat-cell *matCellDef="let element">
                    {{element.consecutivo}}
                </td>
            </ng-container>
            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones</th>
                <td class="detalle" mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="primary" (click)="editarDialog(element.id)"><mat-icon>create</mat-icon></button>
                    <button mat-mini-fab color="warn"><mat-icon>clear</mat-icon></button>
                </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> Fecha</th>
                <td class="detalle" mat-cell *matCellDef="let element">
                    <span>{{element.fecha|date:'dd-MM-yy'}}</span>
                </td>
            </ng-container>
            <ng-container style="max-width:3rem" matColumnDef="asunto">
                <th mat-header-cell *matHeaderCellDef> Asunto</th>
                <td class="detalle" mat-cell *matCellDef="let element">
                    {{element.asunto}}
                </td>
            </ng-container>

            <ng-container matColumnDef="dirigido">
                <th mat-header-cell *matHeaderCellDef> Dirigido</th>
                <td class="detalle" mat-cell *matCellDef="let element">
                    {{element.dirigido}}
                </td>
            </ng-container>
            <ng-container matColumnDef="solicita">
                <th mat-header-cell *matHeaderCellDef> Solicita</th>
                <td class="detalle" mat-cell *matCellDef="let element">
                    {{element.solicita}}
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
        </table>
    </ng-container>
</app-listado-generico>