<h2>Minutario Secretario Particular</h2>
<ng-container>
    <div class="centrar">
        <button mat-raised-button (click)="openDialog()">Nuevo</button>
        <button mat-raised-button *ngIf="btnConsultar" (click)="consultaAsunto()">Consultar</button>
        <button mat-raised-button *ngIf="btnCerrar" (click)="botonesConsulta()">Cerrar</button>
        <button mat-raised-button>Reportes</button>
    </div>
</ng-container>
<app-consultar [consulta]="minutarioSecretarioParticular" *ngIf="consulta"></app-consultar>
<app-listado-particular [minutarios]="minutarioSecretarioParticular"></app-listado-particular>