<app-listado-generico [listado]="asuntos">
    <ng-container vacio>
        <div>
            Mensaje personalizado para contenido<b>vacio</b>
        </div>
    </ng-container>

    <ng-container contenido>
        <table mat-table [dataSource]="asuntos" class="mat-elevation-z8" multiTemplateDataRows>
            <ng-container matColumnDef="no_docto_original">
                <th mat-header-cell *matHeaderCellDef> No. Oficio</th>
                <td mat-cell *matCellDef="let element"> {{element.no_docto_original}} </td>
            </ng-container>
            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef> Opciones</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary">Turnar</button>
                    <button mat-raised-button (click)="editarDialog(element.id)" color="primary">Reinscribir</button>
                </td>
            </ng-container>
            <ng-container matColumnDef="archivo_digital">
                <th mat-header-cell *matHeaderCellDef> PDF </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                        <mat-icon>
                            picture_as_pdf
                        </mat-icon>
                      </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="dirigido_a">
                <th mat-header-cell *matHeaderCellDef> Dirigido a: </th>
                <td mat-cell *matCellDef="let element">
                    {{element.dirigido_a}}
                </td>
            </ng-container>
            <ng-container matColumnDef="enviado_por">
                <th mat-header-cell *matHeaderCellDef> Enviado por: </th>
                <td mat-cell *matCellDef="let element">
                    {{element.enviado_por}}
                </td>
            </ng-container>
            <ng-container matColumnDef="asunto">
                <th mat-header-cell *matHeaderCellDef> Asunto: </th>
                <td mat-cell *matCellDef="let element">
                    {{element.asunto}}
                </td>
            </ng-container>
            <ng-container matColumnDef="detalle">
                <th mat-header-cell *matHeaderCellDef> Detalle </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                        <mat-icon class="example-element-row" [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">text_snippet</mat-icon>
                          </button>
                </td>
            </ng-container>
            <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let element" [attr.colspan]="displayColumns.length">
                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="description">
                            <span class="example-element-description-attribution">F.Oficio: </span>
                            <p class="description-detail">{{element.fecha_documento|date:'dd-MM-yy'}}</p>
                        </div>
                        <div class="description">
                            <span class="example-element-description-attribution">F. Recibido: </span>
                            <p class="description-detail"> {{element.fecha_recepcion|date:'dd-MM-yy'}}</p>
                        </div>
                        <div class="description">
                            <span class="example-element-description-attribution">Observaciones: </span>
                            <p> {{element.observaciones}}</p>
                        </div>
                        <div class="description">
                            <span class="example-element-description-attribution">Original: </span>
                            <p> {{element.original}}</p>
                        </div>
                        <div class="description">
                            <span class="example-element-description-attribution">Copia: </span>
                            <p> {{element.copia}}</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                        <div class="description">
                            <span class="example-element-description-attribution">Nombre: </span>
                            <p> {{element.tituloEnviado}} {{element.nombreEnviado}}</p>
                        </div>
                        <div class="description">
                            <span class="example-element-description-attribution">Puesto entrego: </span>
                            <p> {{element.puestoEnviado}}</p>
                        </div>
                        <div class="description">
                            <span class="example-element-description-attribution">Dependencia: </span>
                            <p> {{element.dependenciaEnviado}}</p>
                        </div>
                        <div class="description">
                            <span class="example-element-description-attribution">No. Despacho: </span>
                            <p> {{element.noDespacho}}</p>
                        </div>
                        <div class="description">
                            <span class="example-element-description-attribution">Seguimiento: </span>
                            <p> {{element.segDespacho}}</p>
                        </div>
                        <div class="description">
                            <span class="example-element-description-attribution">Est.: </span>
                            <p> {{element.estDespacho}}</p>
                        </div>
                        <div class="description">
                            <span class="example-element-description-attribution">Archivada : </span>
                            <p> {{element.archivadaEn}}</p>
                        </div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayColumns;">
            </tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </ng-container>

</app-listado-generico>