<mat-toolbar color="primary">
    <span>
        <button routerLink="asuntos"  mat-raised-button color="primary">
            <mat-icon >topic</mat-icon>
            Asuntos
        </button>
    </span>
    <span>
        <button routerLink="" mat-raised-button color="primary">
            <mat-icon  aria-label="Example icon-button with a heart icon">folder_special</mat-icon>
            Minutario
        </button>
    </span>
    <span>
        <button routerLink="particular" mat-raised-button color="primary">
            <mat-icon aria-label="Example icon-button with a heart icon">folder</mat-icon>
            Minutario Secretario Particular
        </button>
    </span>

</mat-toolbar>