<h2 titulo mat-dialog-title>Minutario</h2>

<form [formGroup]="form" (submit)='guardarMinutario()' mat-dialog-content campos>
    <p>
        <mat-form-field class="textarea">
            <mat-label>Oficio</mat-label>
            <input formControlName="consecutivo" matInput placeholder="No. Oficio">
            <mat-hint>SEIN/DS/00/0000</mat-hint>
            <mat-error></mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="textarea">
            <mat-label>Fecha</mat-label>
            <input matInput formControlName="fecha" [matDatepicker]="fecha">
            <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
            <mat-datepicker #fecha></mat-datepicker>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="textarea">
            <mat-label>Asunto</mat-label>
            <textarea formControlName="asunto" matInput></textarea>
            <mat-error></mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="textarea">
            <mat-label>Dirigido a:</mat-label>
            <mat-select formControlName="dirigido_a" name="dirigido">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let list of listDirigidos" [value]="list.id_contacto">{{list.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field class="textarea">
            <mat-label>Solicita:</mat-label>
            <mat-select formControlName="solicita" name="solicita">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let list of listDirigidos" [value]="list.id_contacto">{{list.nombre}}</mat-option>
            </mat-select>
        </mat-form-field>
    </p>
    <div class="botones">
        <button mat-raised-button color="primary" [disabled]="form.invalid">
            Guardar Cambios
        </button>

    </div>
</form>